@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
  }
  
  h1 {
    font-family: Norse-Bold, sans-serif;
  }

body{
    margin: 0;
    padding: 0;
    font-family: Norse-Bold, sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left{
    background-image: url('./images/halie-west-25xggax4bSA-unsplash.jpg');
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* font-family: Norse-Bold, sans-serif; */
}

.right {
    display: flex;
    flex-direction: column;
    background-color: #f5efef;
    width: 65vw;
}

.first {
    height: 25vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5%;
}

.second {
    height: 50vh;
    background-color: white;
}

.third{
    height: 35vh;
}


.form-main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    width: 60%;

}

.form-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input{
    width:200px;
    height: 25px;
    border:1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus{
    border: 1px solid blue;
}

input:invalid{
    border: 1px solid red;
}

#error{
    color: red;
    font-size: 12px;
}

.btn-green {
    background-color: #596D48;
    color: white;
    border: 1px solid #596D48;
    border-radius: 7px;
    height: 40px;
    width: 200px;
}